<html>
<head>
    <title>stoplight</title>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin' rel='stylesheet' type='text/css'>
  <style>
  body {
    background: #99de20 url('bgnd-top.png') repeat-x;
    padding-top: 0;
  }
  h1 ,h2, h3,h4,h5, h6 { font-family: 'Yanone Kaffeesatz', arial, serif; }
  p, dl { font-family: verdana, arial, sans-serif;
      font-size: 12px;}
  dt {font-weight: bold;}
  #wrapper  {                          

    margin-top: -10px;

    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }  
  #header {
  }
  #header h1 {
    margin-top: 10px;
    padding-top: 20px;
    font-size: 150px; 
    font-weight: bold;
  }
  #header h2 {
    margin-top: -80px;
    padding-top: 0px;
    font-size: 50px; 
    font-weight: bold;
  }

  </style>
</head>
<body>
<div id="wrapper">
<div id='header'>
<h1>Stoplight</h1>

<h2>
A super simple status system
</h2>

<p>
Use it to to monitor your builds, your scripts, or whether you are in or out of the office.
<br />
Really it's up to you.
</p>
</div>
<div id="body">
<h2>
Features
</h2>

<p>
Ultra-volatile datastore, resets whenever I deploy a new one, or heroku kills my instances.
<br />
Who cares, this is about what's going on right now.. any old messages are yesterdays news.
</p>

<h2>
Usage
</h2>

<p>
Think of the name of your app, now think of that name when you see the word 'myapp'
</p>


<dl>
<dt>
GET /myapp
</dt>
<dd>
 returns green or red or yellow.
</dd>  
<dt>
PUT /myapp with status=green
</dt>
<dd>

 sets status green
</dd>  
<dt>
PUT /myapp with status=yellow
</dt>
<dd>

 sets status yellow
</dd>  
<dt>
PUT /myapp with status=red
</dt>
<dd>

 sets status red
</dd>  
<dt>
POST /myapp
</dt>
<dd>

 creates an app if there is none (put does this too)
</dd>  
<dt>
DELETE /myapp
</dt>
<dd>

 deletes an app
</dd>
</dl>
<h2>
Need a frontend?
</h2>

<p>
<dl>
<dt>
GET /myapp/front
</dt>
<dd>

 returns a pretty little javascript to keep you updated on your apps status
 </dd>
</dl> 
</p>

<h1>
Usage Hints!
</h1>
<p>
Monitor the output of your cronjobs!
(replace 'true' with your script, i'm just using it to return an affirmative response code)
<dl>
<dt>    
true && curl -X PUT -d "status=green" http://stoplightapp.heroku.com/myapp || curl -X PUT -d "status=red" http://stoplightapp.heroku.com/times 
</dt>

<dd>
   sets stuff GREEN!
</dd>
<dt>    
false && curl -X PUT -d "status=green" http://stoplightapp.heroku.com/myapp || curl -X PUT -d "status=red" http://stoplightapp.heroku.com/times 
</dt>

<dd>
   sets stuff RED!!
</dd>
</dl>   
</p>  
<p>
add this to your .autotest file, for perpetual greenosity
</p>

<pre>

<code>
require 'rest_client'                                                                                

@appname = 'myapp'

Autotest.add_hook :red do
  RestClient.put "http://stoplightapp.heroku.com/#{@appname}", :status =&gt; 'red'
end

Autotest.add_hook :green do
  RestClient.put "http://stoplightapp.heroku.com/#{@appname}", :status =&gt; 'green'
end

</code>

</pre>

<h1>
Need Security?
</h1>

<p>
<dl>
<dt>
POST /myapp with secret=something
</dt>
<dd>

 makes a stoplight 
<em>
only_you
</em>
 can change the colour of.. until the app resets( which it does at random)
</dd>
 
<dt>
PUT  /myapp with status=green
</dt>
<dd>

 403 access denied!
</dd>
 
<dt>
PUT  /myapp with status=green and secret=something
</dt>
<dd>

 updates the status
</dd>
 
<dt>
PUT  /myapp with status=green and secret=somethingelse
</dt>
<dd>

 access denied!
</dd>
 
<dt>
DELETE /myapp
</dt>
<dd>

 403 access denied
</dd>
 
<dt>
DELETE /myapp with secret=something
</dt>
<dd>

 200 done deal!
</dd>
</dl>

<h2>
How to tell if the server has reset, or you've been snaked
</h2>

<p>
if you use a secret on something created without a secret, 410 GONE because this is not your resource
<br />
if you use a secret on something with a different secret, 403 forbidden and you've been snaked!!
</p>

<h2>
Awesome, how bout some ssl?
</h2>

<p>
Sorry, no ssl
</p>

<p>
learn more at: 
<a href='http://github.com/graemeworthy/Stoplight'>

<a href='https://github.com/graemeworthy/Stoplight'>
https://github.com/graemeworthy/Stoplight
</a>

</a >

</p>
</div>
</div>
</body>

</html>
